:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-dark-gray: hsl(0, 0%, 55%);
    --clr-very-dark-gray: hsl(0, 0%, 41%);

    --font-size: 15px;

    --ff-alata: 'Alata', sans-serif;
    --ff-josefin: 'Josefin Sans', sans-serif;

    --fw-300: 300;
    --fw-400: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

/* Header styles */

.header {
    width: 100%;
    height: 600px;
    background: url('/images/desktop/image-hero.jpg') no-repeat right top;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 4rem;
    width: 80%;
}

.links {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.hamburger {
    display: none;
}

.links li {
    position: relative;
    list-style: none;
    font-family: var(--ff-alata);
    color: var(--clr-white);
    cursor: pointer;
}


.links > li:hover::after {
    content: '';
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 3px;
    background-color: var(--clr-white);
    top: 30px;
    right: calc(50% - 10px);
}

.hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
}

.hero-section h1 {
    font-size: 5rem;
    font-family: var(--ff-josefin);
    font-weight: var(--fw-300);
    text-transform: uppercase;
    color: var(--clr-white);
    border: 3px solid var(--clr-white);
    padding: 2rem;
    max-width: 600px;
}

/* About us */

.about-us {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    margin: 8rem auto;
    width: 80%;
}

.about-img {
    grid-column: 1 / 9;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text,
.about-img {
    grid-row: 1 / 2;
}

.about-text {
    grid-column: 7 / -1;
    background-color: var(--clr-white);
    padding: 6rem;
    z-index: 2;
    /* border: 4px solid hotpink; */
    margin-top: 12rem;
}

.about-text h2 {
    font-size: 60px;
    font-family: var(--ff-josefin);
    font-weight: var(--fw-300);
    text-transform: uppercase;
    margin: 0;
}

.about-text p {
    font-size: 16px;
    font-family: var(--ff-alata);
    font-weight: var(--fw-400);
    color: var(--clr-dark-gray);
    line-height: 2;
    margin-top: 2rem;
    margin-bottom: 0;
}

/* Gallery styles */

.gallery {
    width: 80%;
    margin: 0 auto;
}

.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0;
    font-family: var(--ff-josefin);
}

.gallery-header h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 0;
    z-index: ;
}

.gallery-header button {
    border: 2px solid var(--clr-black);
    background-color: transparent;
    padding: .7rem 2rem;
    font-size: var(--font-size);
    font-weight: var(--fw-300);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: var(--ff-alata);
    cursor: pointer;
    transition: .2s all ease;
}

.gallery-header button:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.gallery-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    margin: 6rem 0;
    width: 100%;
}

.images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: end;
    object-fit: cover;
}

.image,
.text {
    grid-row: 1 / -1;
    width: 100%;
}

.image {
    grid-column: 1 / -1;
}

.image img {
    width: 100%;
    height: auto;
}

.text {
    display: grid;
    align-items: end;
    justify-items: start;
    grid-column: 1 / 1;

    color: var(--clr-white);
    font-family: var(--ff-josefin);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: var(--fw-300);
    /* height: 100%; */
    background: linear-gradient(360deg, hsla(0, 0%, 0%, 1), hsl(0, 0%, 0%, 0));
    z-index: 2;
}

.text h3 {
    margin-left: 2rem;
    width: fit-content;
    z-index: 999;
}

/* Footer styles */

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--clr-black);
    color: var(--clr-white);
    margin-top: 10rem;
    font-family: var(--ff-alata);
    padding: 4rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 80%;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 2rem;
}

.footer-links li {
    position: relative;
    cursor: pointer;
}

.footer-links li:hover::after {
    content: '';
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 3px;
    background-color: var(--clr-white);
    top: 30px;
    right: calc(50% - 10px);
}

.social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 10px;
    cursor: pointer;
    
}

.icon {
    position: relative;
}

.icon:hover::after {
    content: '';
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 3px;
    background-color: var(--clr-white);
    top: 30px;
    right: calc(50% - 10px);
}

.copyright {
    color: var(--clr-very-dark-gray);
    /* text-align: center; */
}

.attribution {
    background-color: var(--clr-black);
    color: var(--clr-white);
    text-align: center;
    font-family: var(--ff-alata);
    padding: 2rem 0;
    color: var(--clr-very-dark-gray);
}

.attribution a { 
    color: var(--clr-black);
    padding: .2rem .4rem;
    background: var(--clr-white);
    transform: rotate(30deg);
}

/* Responsive styles */

@media screen and (max-width: 800px) {
    .links > li {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .header {
        height: 700px;
        background: url('images/mobile/image-hero.jpg') no-repeat top center;
    }

    .nav {
        margin-top: 2rem;
    }

    .hero-section, .nav {
        width: 85%;
    }

    .hero-section h1 {
        font-size: 50px;
        width: 100%;
    }

    /* about styles */

    .about-us {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(100px 1fr);
        gap: 20px;
        place-items: center center;
        width: 85vw;
        margin-top: 4rem;
    }

    .about-img {
        grid-column: 1 / -1;
        grid-row: 1;
        align-items: stretch;
        height: fit-content;
    }

    .about-text {
        padding: 2rem;
        width: 100%;
        margin: 0;
        grid-column: 1 / -1;
        grid-row: 2;
        text-align: center;
    }

    .about-text h2 {
        font-size: 42px;
    }

    .about-text p {
        font-size: 15px;
    }

    /* gallery styles */

    .gallery {
        width: 85%;
    }

    .text h3 {
        font-size: 30px;
    }

    .text {
        background: linear-gradient(to right, hsla(0, 0%, 0%, .5), hsl(0, 0%, 0%, 0));
    }

    .image, .text {
        height: 200px;
        object-fit: cover;
        overflow: hidden;
    }

    .images {
        height: 30%;
        align-items: center;
    }

    .gallery {
        position: relative;
        padding-bottom: 30px;
    }

    .gallery-img {
        margin-top: 4rem;
    }

    /* .gallery-header {
        position: relative;
    } */

    .gallery-header h2 {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin: 0 auto;
    }

    .gallery-header button {
        position: absolute;
        padding: 1rem 4rem;
        bottom: 0;
        transform: translateX(50%);
    }

    /* footer styles */
    .left, .right {
        display: block;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }
}